
<div id="title">
    <h1>{{title}}</h1>
    <h2>{{Subtitle}}</h2>
    <h4>{{Carrera}}</h4>
    <h4>{{falcultad}}</h4>
    <h4>{{universidad}}</h4>
    <h4>{{email}}</h4>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem Ipsum es simplemente un texto ficticio de la industria de impresión y composición tipográfica. Lorem Ipsum ha sido el texto ficticio estándar de la industria desde el año 1500, cuando una impresora desconocida tomó una galera de tipo y la revolvió para hacer un libro de muestras de tipo. Ha sobrevivido no solo cinco siglos, sino también el salto a la composición electrónica, permaneciendo esencialmente sin cambios. Se popularizó en la década de 1960 con el lanzamiento de las hojas de Letraset que contienen pasajes de Lorem Ipsum, y más recientemente con software de publicación de escritorio como Aldus PageMaker que incluye versiones de Lorem Ipsum.
    </p>
</article>