<body>
  <header>
    <ul>
      <li>
        <a [routerLink]="['/Sobre-mi']" [routerLinkActive]="['actived']">Sobre Mi</a>
      </li>
      <li>
        <a [routerLink]="['/Proyectos']" [routerLinkActive]="['actived']">Proyectos</a>
      </li>
      <li>
        <a href="#" id="logo">JM</a>
      </li>
      <li>
        <a [routerLink]="['/Crear-proyecto']" [routerLinkActive]="['actived']">Crear proyecto</a>
      </li>
      <li>
        <a [routerLink]="['/Contacto']" [routerLinkActive]="['actived']">Contacto</a>
      </li>
    </ul>
  </header>

  <section id="contenido">
    <router-outlet></router-outlet>
  </section>
  
  <footer>
   Portafolio de Jose Manuel Sanchez Juares<hr> Curso de Master de Javascript de Victor Robles &copy;
  </footer>
</body>